page-logout {
    p{
        text-align: center;
        padding: 1rem .5rem;
    }
    .container-full-btn{
        margin-top: 2rem;
    }
    .logo{
        margin-top: 2rem;
        img{
            width: 50%;
            max-width: 250px;
        }
    }
}
