page-text-adapt-modal {
    left: 30px !important;
    top: 30px !important;
    height: 50vh !important;
    width: calc(100% - 60px) !important;
    .container-ex{
        padding: 4rem 3rem;
    }
}
