text-editor {
    .container-ckeditor{
        position: relative;
        ion-icon{
            position: absolute;
            top: 0rem;
            right: 0rem;
            width: 5rem;
            height: 4rem;
            padding-top: 1rem;
        }
        .cke_toolbar:not(:nth-of-type(6)){
            display: none;
        }
    }
    .container-ckeditor.options {
        .cke_toolbar:not(:nth-of-type(6)){
            display: block;
        }
    }
    #cke_1_contents{
        height: 55vh !important;
    }
}
