ion-list{
  margin-top: 1rem;
  button.item, button.item-cover, ion-item.item{
    border-bottom:1px solid color($colors, light-grey);
    &:last-child{
      border-bottom: none;
    }
    .item-inner{
      border-bottom:none !important;
    }
  }
  ion-icon{
    color: color($colors, primary);
    font-size: 2.4rem !important;
  }
  ion-item-divider, ion-list-header{
    background: color($colors, primary) !important;
    .label{
      color: color($colors, white);
      font-size: 1.7rem;
      line-height: 1.8;
    }
    ion-icon{
      color: color($colors, white);
      font-size: 2.6rem !important;
    }
    .step-number{
      border-radius: 50%;
      width: 30px;
      height: 30px;
      float: left;
      text-align: center;
      margin-right: 1rem;
      border: 2px solid color($colors, white);
      line-height: 1.5;
    }
  }
  ion-item-divider.folder{
    background: color($colors, primary-light) !important;
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 550px) {
  ion-item-divider, ion-list-header{
    .label{
      font-size: 2.4rem;
    }
  }
}