<!--
  Generated template for the UserListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'account.users' | i18n}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="custom-title">
    <h1>{{ 'user.manageUsers'| i18n}}</h1>
  </div>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="md-people" item-start></ion-icon>
        {{ 'user.adults'| i18n}}
        <ion-icon name="ios-arrow-down" item-end></ion-icon>
      </ion-item-divider>

      <button ion-item (tap)="forwardToNewAdult()">
        <ion-icon name="md-add-circle" item-start></ion-icon>
        {{ 'adult.addAdult'| i18n}}
      </button>

      <ng-container *ngFor="let item of users">
        <ion-item-sliding>
          <button ion-item (tap)="forwardToAdult(item)">
            <ion-icon name="md-person" item-start></ion-icon>
            {{ item.name }}
          </button>
          <ion-item-options side="right">
            <button ion-button color="danger">
              <ion-icon name="md-trash" class="white" (tap)="onDeleteUser(item)"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>

    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="md-people" item-start></ion-icon>
        {{ 'user.kids'| i18n}}
        <ion-icon name="ios-arrow-down" item-end></ion-icon>
      </ion-item-divider>

      <button ion-item (tap)="forwardToNewChild()">
        <ion-icon name="md-add-circle" item-start></ion-icon>
        {{ 'child.addKid'| i18n}}
      </button>

      <ng-container *ngFor="let item of children">
        <ion-item-sliding>
          <button ion-item (tap)="forwardToChild(item)">
            <ion-icon name="md-person" item-start></ion-icon>
            {{ item.name }}
          </button>
          <ion-item-options side="right">
            <button ion-button color="danger">
              <ion-icon name="md-trash" class="white" (tap)="onDeleteUser(item)"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>

    </ion-item-group>
  </ion-list>
</ion-content>