<!--
  Generated template for the OffersStep3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'offers.step3.title' | i18n}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="custom-title">
    <h1>{{ 'offers.step3.subTitle'| i18n}}</h1>
    <div class="grey-bloc">
      <p [innerHtml]="'offers.step3.OCRDescription' | i18n"></p>
    </div>
  </div>
  <div class="form-list">
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <ion-list radio-group formControlName="ocr" [(ngModel)]="ocr">

        <ion-item *ngFor="let ocr of ocrList">
          <ion-label [innerHtml]="getOcrHtml(ocr)"></ion-label>
          <ion-radio [value]="ocr.id"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label [innerHtml]="'offers.step3.OCRRadio0' | i18n"></ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
        <div class="error" *ngIf="form.submit && form.controls.ocr.errors">
          <p *ngIf="form.controls.ocr.errors?.required">{{ 'offers.step3.ocrRequired'| i18n}}</p>
          <p *ngIf="form.controls.ocr.errors?.min">{{ 'offers.step3.ocrInvalidValue'| i18n}}</p>
        </div>
      </ion-list>
      <button ion-button block type="submit">
        {{'next'|i18n}}
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </form>
  </div>
</ion-content>
